h1,h2,.ed,h3 {
	font-family: 'Archivo Black', sans-serif;
}

.parallax {
	background: url('photo-1.jpg') no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	height: 48rem;
	width: 100%;
}

.parallax1 {
	background: url('photo-2.jpg') no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	height: 36rem;
	width: 100%;
}

.anun {
	height: 36rem;
	font-size: 8.5vw;
	text-align: center;
	color: white;
	display: grid;
	transform: translateY(8rem);
}
::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: #888;
    height: 50%;
}

::-webkit-scrollbar-thumb {
    background: #494949;
    border-radius: 5%;
    height: 50%;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

.chap {
	font-size: 2vw;
}
.ed{
	font-weight: normal;
	margin-top:  2rem;
	font-size: 8vw;
	text-align: center;
}

.edlogo {
	border-radius: 50%;
}

/*.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}*/


.contlogo,.contacthov,.sec,.contacthovlit,.welcome {
	transition: 0.4s;
}

.contacthov:hover,.sec:hover,.contlogo:hover {
	transform: scale(1.2);
}
.contacthovlit:hover{
	transform: scale(1.15);
}
.welcome:hover {
	transform: scale(1.05);
}

.scrollT{
	position : fixed;
	border-radius: 50%;
	right: 3%;
	bottom: 2%;
	opacity: 0;
	transition: 0.3s;
}

.scrollT:hover{
	transform: scale(1.18);
}

.wig1 {
	animation: wiggle 21s infinite;
}

.wig2 {
	animation: wiggle 15s infinite;
}

.wig3 {
	animation: wiggle 11s infinite;
}

@keyframes wiggle {
	0%{transform: rotate(0deg);}
	3%{transform: rotate(-7deg);}
	5%{transform: rotate(7deg);}
	7%{transform: rotate(0deg);}
	100%{transform: rotate(0deg);}
}


.pulse1 {
	animation: pulst 3s linear infinite;
}

@keyframes pulst {
	0% {
		box-shadow: 0 0 0 0 rgb(128, 159, 255,.7),0 0 0 0 rgb(128, 159, 255,.7);
	}
	40% {
		box-shadow: 0 0 0 30px rgb(128, 159, 255,0),0 0 0 0 rgb(128, 159, 255,.7);
	}
	80% {
		box-shadow: 0 0 0 30px rgb(128, 159, 255,0),0 0 0 20px rgb(128, 159, 255,0);
	}
	100% {
		box-shadow: 0 0 0 0 rgb(128, 159, 255,0),0 0 0 20px rgb(128, 159, 255,0);
	}
}

.pulse3 {
	animation: pulsf 3s linear infinite;
}

@keyframes pulsf {
	0% {
		box-shadow: 0 0 0 0 rgb(0, 64, 255,.7),0 0 0 0 rgb(0, 64, 255,.7);
	}
	40% {
		box-shadow: 0 0 0 30px rgb(0, 64, 255,0),0 0 0 0 rgb(0, 64, 255,.7);
	}
	80% {
		box-shadow: 0 0 0 30px rgb(0, 64, 255,0),0 0 0 20px rgb(0, 64, 255,0);
	}
	100% {
		box-shadow: 0 0 0 0 rgb(0, 64, 255,0),0 0 0 20px rgb(0, 64, 255,0);
	}
}

.pulse2 {
	animation: pulsg 3s linear infinite;
}

@keyframes pulsg {
	0% {
		box-shadow: 0 0 0 0 rgb(143, 0, 179,.7),0 0 0 0 rgb(143, 0, 179,.7);
	}
	40% {
		box-shadow: 0 0 0 30px rgb(143, 0, 179,0),0 0 0 0 rgb(143, 0, 179,.7);
	}
	80% {
		box-shadow: 0 0 0 30px rgb(143, 0, 179,0),0 0 0 20px rgb(143, 0, 179,0);
	}
	100% {
		box-shadow: 0 0 0 0 rgb(143, 0, 179,0),0 0 0 20px rgb(143, 0, 179,0);
	}
}

.pulse {
	animation: puls 5s linear infinite;
}

@keyframes puls {
	0% {
		box-shadow: 0 0 0 0 rgb(128, 159, 255,0),0 0 0 0 rgb(128, 159, 255,0);
	}
	50% {
		box-shadow: 0 0 0 30px rgb(128, 159, 255,0),0 0 0 0 rgb(128, 159, 255,.7);
	}
	70% {
		box-shadow: 0 0 0 30px rgb(128, 159, 255,0),0 0 0 20px rgb(128, 159, 255,0);
	}
	100% {
		box-shadow: 0 0 0 0 rgb(128, 159, 255,0),0 0 0 20px rgb(128, 159, 255,0);
	}
}

header {
	width: 100%;
	position: fixed;
	top:0;
	z-index: 100;
}